################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/COOPERATIVAUAPA/bin/Debug/netcoreapp2.2
/COOPERATIVAUAPA/Migrations
/COOPERATIVAUAPA/obj
/.vs
