@{
    ViewBag.Title = "Quienes somos";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>*@
<div class="sobrenosotros">
    <div class="row">

        <div class="col-md-12">

            
            <div>
                <img src="~/img/quienes somos.jpeg" alt="Alternate Text" width="100%" height="100%" />
            </div>


            <h2 class="textosverdes">
                Quienes sómos
            </h2><br />

            <p class="parrafo">
                En la ciudad de Santiago de los Caballeros, Provincia de Santiago, República Dominicana, a los cinco (5) días del mes de febrero del año 2001, ha quedado constituida una Cooperativa de Ahorro, Crédito y de Servicios Múltiples, de interés social y fundamento económico, denominada “COOPERATIVA DE FACILITADORES, RELACIONADOS Y EMPLEADOS DE LA UAPA”, INC., la cual se regirá por el presente Estatuto, la Ley 127 sobre Asociaciones Cooperativas, sus reglamentos y los principios universales del Cooperativismo.
            </p><br />
            <p class="parrafo">
                    Esta cooperativa estará organizada en el seno de la Universidad Abierta para Adultos, UAPA, ubicada en la Avenida Hispanoamérica, Urbanización Tomen, será de capital variable y duración ilimitada, y tendrá su domicilio social en la ciudad de Santiago de la Caballeros, República Dominicana, con capacidad para desarrollar sus actividades en todo el territorio nacional. Podrá tener representantes y oficinas en cualquier lugar del país donde su Consejo de Administración lo considere conveniente.
            </p><br />

            <h3 class="textosverdes">
                Visión
            </h3>
            <p class="parrafo">
                Ser una entidad de vanguardia dentro del Sistema Cooperativo Nacional.
            </p><br />

            <h3 class="textosverdes">
                Misión
            </h3>
            <p class="parrafo">
                Somos una empresa de economía solidaria que contribuye a mejorar la calidad de vida de nuestros asociados, ofreciendo productos y servicios de ahorros y créditos oportuno que favorezcan su bienestar económico y social.
            </p><br />

            <h3 class="textosverdes">Valores</h3>

            <p class="parrafo">
                <ul>
                    <li>Honestidad</li>
                    <li>Igualdad</li>
                    <li>Democracia</li>
                    <li>Equidad</li>
                    <li>Solidaridad</li>
                    <li>Responsabilidad</li>
                </ul>
            </p><br />

        </div>


    </div>
</div>