@{
    ViewData["Title"] = "Inicio";
}

<div>
    <img src="~/img/banner.jpeg" alt="Alternate Text" width="100%"/>
</div>

<div class="row">
    <button class="btn-portada"><a asp-area="" asp-controller="Home" asp-action="Calculadora">Calculadora de préstamos</a></button>
    <button class="btn-portada"><a asp-controller="Home" asp-action="Descripcion">Quienes somos</a></button>
    <button class="btn-portada">Publicaciones</button>
</div>